/* table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        border: 1px solid black;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    } */

    body {
        color: #676a6c;
      }
      
      p {
        margin-bottom: 0;
      }
      
      a {
        text-decoration: none;
      }
      
      .fill-red {
        color: #da4f49;
      }

      /* #div-card img{
         
      } */
      
      .dotted__divider {
        border-bottom: 2px dotted;
      }
      
      .prod__inventory .prod__single {
        color: inherit;
        transition: 0.3s all ease;
        display: inline-block;
      }
      
      .prod__inventory .prod__single:hover {
        box-shadow: 0 3px 7px 0 #a8a8a8;
      }
      
      .prod__inventory .card-head {
        position: relative;
      
      }
      
      .prod__inventory .price__tag {
        position: absolute;
        right: 0;
        bottom: 8px;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        background-color: #0d6efd;
        padding: 6px 12px;
      }
      
      .prod__inventory .prod__brand {
        display: block;
      }
      
      .prod__inventory .prod__desc small {
        display: block;
      }
      
      /* product single page starts here */
      
      .prod__detail {
        background-color: #f4f4f4;
      }
      
      .prod__detail ul {
        list-style: none;
        padding: 16px;
        margin: 0;
        background-color: #fff;
      }
      
      .prod__detail ul li {
        padding: 8px;
      }
      
      .prod__detail ul li:nth-child(even) {
        background-color: rgba(0,0,0,.05);
      }
      
      .prod__detail .prod__pricing--details {
        background-color: #fff;
      }
      .prod__detail .prod__pricing--details .history__report--cta {
        max-width: 155px;
        width: 100%;
        margin:  0 auto;
      }
      .prod__detail .prod__about > .single {
        display: flex;
        align-items: flex-start;
      }
      .prod__detail .prod__about > .single + .single{
        margin-top: 48px;
      }
      .prod__detail .prod__about > .single .s__icon {
        width: 36px;
      }
      .prod__detail .prod__about > .single .s__text {
        flex: 1;
        padding-left: 20px;
        font-weight: 700;
      }
      .prod__detail .prod__about > .single .s__text > p{
        padding-right: 24px;
        display: inline-block;
      }
      .prod__detail .prod__about > .single .s__text > p > span{
        display: block;
      }
      /* product single page ends here */
      
      /* responsiveness starts here */
      
      /* responsiveness ends here */